body{
  background: white;
}
/* h1 h2 p are all view port adjusted */
h1 {
  font-size: 2.5vw;
}

h2{
  font-size: 3.0vh;
}

p {
  font-size: 2vmin;
}

#resumePic {
  cursor: pointer; 
  width: auto; 
  max-width: 100%; 
  height: auto;
}

#mainBackgroundPic{
  width: auto;
  max-width: 100%;
  height: auto;
}

.imgBlur {
  -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
  filter: blur(3px);
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-github {
  background: #636e72;
  color: white;
}

.fa-handshake-o {
  background: #3498db;
  color: white;
}

.mySlides {
	display: none;
}

.backgroundShadow{
  -webkit-filter: drop-shadow( -2px 2px 2px rgb(95, 95, 95) );
  filter: drop-shadow( -2px 2px 2px rgb(95, 95, 95) );
}

/* Hide scrollbar for Chrome, Safari and Opera */
.stop-scrolling::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.stop-scrolling {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.enable-scrolling::-webkit-scrollbar {
  display: none;
}

.enable-scrolling {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
*/

.loader-inner {
  display: inline-block;
  color: white;
  font-size: 200%;
  animation: swipe-up 2s normal ease-in;

  animation-name: swipe-up;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes swipe-up {
  0% { transform: translateY(10px); opacity: 1;}
  50% { transform: translateY(10px); opacity: 1;}
  100% { transform: translateY(200px);opacity: 0;}
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

#whiteText{
  color: #f5f6fa;
}

#projectMovieTheatre{
  width: 450px; 
  padding-left: 50px; 
  padding-right: 50px; 
  background-color: #2f3640;
  position: relative;
  left: -30px;
  bottom: -200px;
}

#projectGasJunkie{
  width: 450px; 
  padding-left: 50px; 
  padding-right: 50px; 
  background-color: #2f3640;
  position: relative;
  right: 230px;
  bottom: -200px;
}

#projectNumberGuess{
  width: 450px; 
  padding-left: 50px; 
  padding-right: 50px; 
  background-color: #2f3640;
  position: relative;
  left: -170px;
  bottom: -200px;
}
/* This is a single-line comment 
.column div {
	position: relative;
  left: -40px;
}

.column div span {
	position: absolute;
	bottom: -20px;
	z-index: -1;
	display: block;
	width: 300px;
	color: #2f3640;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	background: #fff;
	overflow: hidden;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

<div class="column">
  <div>
    <figure><img src="./Pictures/Projects/Ticketing/1.png" style="width: 100%;"></figure>
    <span>Hover</span>
  </div>
</div>

*/

